* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(216, 226, 160), rgb(222, 255, 206));
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    top: 20%;
    left: 30%;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3);
}

#input-heseg {
    position: relative;
    padding: 30px 20px;
}

#input-heseg input {
    width: 75%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#input-heseg input:focus {
    outline: none;
    border-color: #0d75ec;
}

#input-heseg button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#input-heseg button:hover {
    background: rgb(0, 174, 255);
}

#list-heseg {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.list-inside {
    background-color: #eeeeee;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.list-inside span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.list-inside button {
    background-color: #df3400;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed {
    text-decoration: line-through;
}